.inline-block{
display: inline-block;
vertical-align: top;
}

nav{ 
    width: 100%;
    margin: 0 auto;
    padding: 3px;
    background-color: #373738;
    color: white;
    display: inline-block;
    text-align: center ;
    justify-content: space-evenly;
    font-size: 18px; 
    font-family:'Cormorant Garamond', serif;
}

.logo{
    width: 23px;
    padding: 1%;
    text-align: left;
    display: inline-block;
}
.navigation img{
 width: 62.4px;
 height: 69.9px;
 margin: auto;
}

ul{ 
    width: 70%;
    margin-left: auto;
}
.heroimg{
    height: 500px;
    width: 100%; 
    padding: 10px;
    background-color: rgb(229,229,229);
    display: block;
    text-align: center;
}
.content{
    width: 500px;
    margin: 0 auto;
    margin-top: 25px;
    background-color: white;
    padding: 15px;
    text-align: center;
    font-family:'Cormorant Garamond', serif;
    box-shadow: 0px 0px 3px 3px rgba(121, 121, 121, 0.3);
}
.content img{
    width: 225px;
}

button{
background-color: #373738;
color: white;
padding: 15px;
text-decoration: none;
font-size: 14px;
border-radius: 20px;
}

.mySkills{
text-align: center;
}

.flexContainer{
    display: flex;
    padding: 15px;
}

div .flexContainer{
    width: 33%;
    margin: auto;
    padding: 25pt;
    justify-content: space-evenly;
}


footer{
    background-color: #373738;
    width:100%;
    padding:25px;
    font-family:'Cormorant Garamond', serif;
}
footer, ul{
    display: inline-block;
    vertical-align: top;
}
footer, li{
padding: 1%;
text-align: left;
color: white;
}